
-- 1. Tạo cột mới vehicle_assignment_id trong bảng seals
ALTER TABLE public.seals ADD COLUMN vehicle_assignment_id UUID;
-- 2. Cập nhật giá trị cho cột mới (dựa trên mối quan hệ thông qua order_seals)
UPDATE public.seals s
SET vehicle_assignment_id = os.vehicle_assignment_id
FROM public.order_seals os
WHERE s.id = os.seal_id;
-- 3. Xóa cột order_id cũ sau khi đã chuyển dữ liệu
ALTER TABLE public.seals DROP COLUMN order_id;

